<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Application</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <!--http://fontawesome.io/icons/-->
  <link rel="stylesheet" type="text/css" href="lib/font-awesome-4.6.3/css/font-awesome.min.css">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div>my new sd,nfdkh fhkj fdkhj fhapp</div>
<div ng-app="myapp">
<div>
	<a href="#/registration">registeration</a>
	<a href="#/admin">Admin</a>
</div>
<div ng-view></div>
</div>
<!-- Angular Libraries-->
<script type="text/javascript" src="lib/angular-1.4.9/angular.js"></script>
<script type="text/javascript" src="lib/angular-1.4.9/angular-resource.js"></script>
<script type="text/javascript" src="lib/angular-1.4.9/angular-route.js"></script>
<script type="text/javascript" src="lib/angular-1.4.9/angular-animate.js"></script>

<script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="js/ngApp.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/registration/ownerRegistrationService.js"></script>
<script type="text/javascript" src="js/admin/adminService.js"></script>


<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/registration/ownerRegistrationCtrl.js"></script>
<script type="text/javascript" src="js/admin/adminCtrl.js"></script>

<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/admin/amenityDirective.js"></script>

<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/shared/custom-directives.js"></script>
</body>
</html>